footer{
    background-color: #000;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerLinks{
    display: flex;
    flex-direction: column;
}
.footerLinks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerLinks ul li{
    display: inline;
    padding: 10px;
}
.footerLinks ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0-0.5em;
}
.footerLinks ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info p{
    font-size: 0.8rem;
    color: #808080;
    font-style: italic;
}
