*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    background-color: white;
}
header .firstRow{
    min-height:60px;
    display: flex;
    border-bottom: black solid 2px;
    justify-content: space-between;
    width: 100%;
}
header .socialMediaLinks{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header .socialMediaLinks ul{
    display: flex;
    flex-wrap: wrap;
}
header .socialMediaLinks li{
    text-align: center;
    display: inline;
    margin: 0 10px;

}
header .socialMediaLinks i{
    font-size:2rem;
    color: black;
}
header .socialMediaLinks a:visited{
    text-decoration: none;
}
header .socialMediaLinks i:hover{
 color: tomato;
}
.mainLogoContainer{
    display: flex;
    align-self: center;
    justify-self: center;
}
.mainLogoContainer img{
    height: auto;
    width: 100%;
    max-height: 45px;
    align-self: center;
    justify-self: center;
}
.extraButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.extraButtons a{
    background-color: black;
    border:black 2px;
    border-radius:2mm;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    /* font-size:1.2vw;
    min-width: 15px; */
}
.extraButtons i{
    font-size:3vw;
}
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: tomato;
}
header nav ul{
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#mobileNav{
    display: none;
    font-size: 2rem;
}
#mobileNav i{
    font-size: 1.8rem;
}
header .secondRow{
    width: 100%;
}
header .secondRow li{
    display:inline;
}
header .secondRow a{
    padding: 0 5px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
header .secondRow a:visited{
    text-decoration: none;
}
header .secondRow a:hover{
    border:tomato solid 1px;
    padding: 1vh;
    color: tomato;
    background-color: white;
}
@media only screen and (max-width: 768px){
    .extraButtons{
        display: none;
    }
    header .socialMediaLinks i{
        font-size:4vw;
    }

}
@media only screen and (max-width: 425px){
    header .socialMediaLinks{
        display: none;
    }
    #desktopNav{
        display:none;
    }
    #mobileNav{
        display: flex;
        justify-content: space-evenly;
    }
}